.container {
  margin-top: 250px;
}
.container .form-control {
  border: 0;
  border-bottom: 1px solid;
  border-radius: 0;
}

.form-control:invalid {
  border-color: 0;
}

.block_container {
  background-color: #5A61ED;
  height: 480px;
  font-style: normal;
  font-weight: 400;
  font-size: 49px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}

.block_register {
  margin-top: 216.52px;
}

.register_login {
  margin-top: 9em;
}

.title_block {
  justify-content: center;
  display: flex;
}
.title_block .title_rotate {
  transform: rotate(-90deg);
  padding: 0.4em;
  padding-left: 0.5em;
  margin-right: -1.5em;
  margin-top: 7em;
  font-weight: 400;
  font-size: 49px;
  letter-spacing: 0.7px;
  font-family: "PT Sans";
}

.footer_row {
  justify-content: space-between;
  margin-top: 2.5em;
}
.footer_row p {
  color: #111111;
  padding-top: 1em;
  font-family: "WorkSans";
  font-size: 20px;
  letter-spacing: -0.46px;
  font-weight: 100;
}
.footer_row .btn-purple {
  background-color: #5A61ED;
  border: 0.5px solid #FFFFFF;
  width: 154px;
  border: 0;
  color: #FFFFFF;
  padding: 0.5em;
  border-radius: 0;
  width: 12em;
  height: 45px;
}
.footer_row .btn-purple:hover {
  background-color: #5A61ED;
}

.col-lg-6 label {
  height: 14px;
  font-family: "WorkSans";
  line-height: 14px;
  padding: 0.5em 0;
  color: #7C7C7C;
}

.col-lg-9 main {
  padding: 1.5em;
}

.date_select {
  padding: 0.5em;
}

@media screen and (max-width: 992px) {
  .block_container {
    height: 100%;
    width: 100%;
  }
  .block_container .title_block {
    transform: rotate(90deg);
    line-height: 0em;
    padding: 0.5em;
    padding-left: 0.5em;
    margin-left: 5.5em;
  }
  form {
    margin-top: 2em;
  }
}
@media screen and (max-width: 500px) {
  .container {
    width: 500px;
  }
}
@media screen and (max-width: 992px) {
  .block_register {
    text-align: center;
    margin-top: 5em;
  }
  .register_login {
    text-align: center;
  }
}
.animation {
  display: none;
}

.row {
  animation-duration: 4s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-top: 100%;
    width: 300%;
  }
  to {
    margin-top: 0%;
    width: 100%;
  }
}
.slidein_btn {
  animation-duration: 2.5s;
  -moz-animation-name: slidein_btn;
  -webkit-animation-name: slidein_btn;
  animation-name: slidein_btn;
  animation-direction: alternate;
}

@keyframes slidein_btn {
  from {
    width: 154px;
  }
  to {
    height: 70px;
    margin-left: 25%;
  }
}
.form-error .form-control {
  border-bottom: 1px solid red;
}

.form-succes .form-control {
  border-bottom: 1px solid green;
}

.personal_svg {
  color: red;
}

/*# sourceMappingURL=main.css.map */
